<section class="vh-100 bg-light">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="text-center">
        <h1 class="display-4 text-primary mb-4">Welcome, {{ userName }}!</h1>
        <p id="lead2" class="lead text-secondary mb-4" style="color: gold;">Manage your tasks effortlessly.</p>
        <div class="btn-group" role="group">
          <button routerLink="/Savedtasks" class="btn btn-outline-primary btn-lg">View Saved Tasks</button>
          <button routerLink="/Todaytasks" class="btn btn-outline-primary btn-lg">Today's Tasks</button>
        </div>
      </div>
    </div>
  </section>
  